{% extends "base.html" %}
{% block body %}


<h1 class="text-center"> List of alcohol studies </h1>

<div class="container">

    <table class="table">
    <tr>
      <th>#</th>
      <th>NCT ID</th>
      <th>Title</th>
    </tr>
    {% for item in study_list %}
    <tr>
        <td>{{loop.index}}</td>
        <td><a href="{{ url_for('display_study', nct_id=item[0]) }}"> {{item[0]}}  </a></td>
        <!--<td>{{item[0]}}</td>-->
        <td>{{item[1]}}</td>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}

<!--.decode('utf-8')-->