{% extends 'base.html' %}
{% block body %}

<!--Title of the study-->
<h3 class="text-center"> <a href={{original_study_link}}>  {{studies["official_title"]}} </a> </h3>

<!--basic study information-->
<div class="container">
    <table class="table">
    <tr>
        <th>NCT ID</th>
        <th>First received</th>
        <th>Last updated</th>
        <th>Last verified</th>
        <th>Overall Status</th>
        <th>Phase</th>
        <th>Study Type</th>
        <th>Enrollment</th>
    </tr>
    <tr>
        <td>{{studies["nct_id"]}}</td>
        <td>{{studies["start_month_year"]}}</td>
        <td>{{studies["last_changed_date"]}}</td>
        <td>{{studies["verification_month_year"]}}</td>
        <td>{{studies["overall_status"]}}</td>
        <td>{{studies["phase"]}}</td>
        <td>{{studies["study_type"]}}</td>
        <td>{{studies["enrollment"]}}</td>
    </tr>
    </table>
</div>

<h4> Tracking Information </h4>
<!--outcome measure information-->
<div class="container">

    <table class="table">
        <tr>
          <th>Outcome Type</th>
          <th>Measurement</th>
        </tr>
        {% for item in unique_design_outcomes["outcome_type"] %}
        <tr>
            <td>{{item}}</td>
            <td><p>{{unique_design_outcomes["measure"][loop.index0]}} [{{unique_design_outcomes["time_frame"][loop.index0]}}]</p>
                <p>{{unique_design_outcomes["description"][loop.index0]}}</p>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

<h4> Descriptive Information </h4>
<div class="container">
    <table class="table">
    <tr>
        <th>Brief Title</th>
        <td>{{studies["brief_title"]}}</td>
    </tr>
    <tr>
        <th>Official Title</th>
        <td>{{studies["official_title"]}}</td>
    </tr>
    <tr>
        <th>Brief Summary</th>
        <td>{{brief_summaries["description"]}}</td>
    </tr>
    <tr>
        <th>Detailed Description</th>
        <td>{{detailed_descriptions["description"]}}</td>
    </tr>
    <tr>
        <th>Study Design</th>
        <td>
            <p> {{study_design_model_type}}: {{study_design_model}} </p>
            <p> Masking: {{designs["masking"]}} </p>
            <p> Primary purpose: {{designs["primary_purpose"]}} </p>
        </td>
    </tr>
    <tr>
        <th>Condition</th>
        <td>
        {% for item in conditions["name"] %}
            <p>{{item}}</p>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Intervention</th>
        <td>
            <ul>
                {% for item in interventions["intervention_type"]%}
                <li>
                    <p>{{item}}: {{interventions["name"][loop.index0]}}</p>
                    <p>{{interventions["description"][loop.index0]}}</p>
                    {% if interventions["other_names"] != [] %}
                        <p> Other names: </p>
                        <ul>
                            {% for tmp in interventions["other_names"][loop.index0] %}
                            <li>
                                {{tmp}}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p></p>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Study Arms</th>
    </tr>
    <tr>
        <th>Publications*</th>
    </tr>

    </table>
</div>

<h4>Recruitment Information</h4>


<h4>Administrative Information</h4>

















{% endblock %}